
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}
.container {
    background-color: rgba(12, 12, 12, 0.85); /* White background with 80% opacity */
    padding: 20px;
    border-radius: 10px; /* Optional: for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: for a subtle shadow */
    position: relative;
    z-index: 100;
    margin-top: 20px;
}
.container-fluid{
    background-color: rgba(12, 12, 12, 0.85x);
    margin-bottom: 20px;
}
body {
    margin: 0;
    padding: 0;
}